@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");

:root {
  --header-height: 5vh;
  --sidebar-width: 10vw;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}

/* -----> Header section  */
/* ---> Sticky nav bar  */

.header {
  background-image: linear-gradient(135deg, #ffd700, #ffff00);
  height: var(--header-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #333;
}

.logo-ctn {
  display: flex;
  align-items: center;
}

.logo-ctn > span {
  font-size: 3vh;
  font-weight: 600;
}

.header .search-bar-ctn {
  width: 65%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar-ctn > input {
  width: 70%;
  height: 100%;
  border-radius: 10px;
}

.search-bar-ctn > i {
  position: absolute;
  left: 27.8%;
}

.search-bar-ctn > input::placeholder {
  text-indent: 2vw;
  font-size: 1.6vh;
}

.icon-main-ctn {
  display: flex;
  column-gap: 1vw;
  cursor: pointer;
}

/* -----> Form section  */
.form-area {
  position: relative;
  top: calc(var(--header-height));
  width: 70%;
  margin: 0 auto;
}

.form-area-left {
  width: 100%;
  display: flex;
  flex-direction: column;
  row-gap: 7vh;
}

.form-area-left > h1 {
  font-size: 3vh;
  margin-top: 5vh;
}

/* ---> form box section  */
form > label {
  font-weight: 500;
  color: rgba(0, 0, 0, 0.77);
  font-size: 2.6rem;
  margin-bottom: 2vh;
}

form, 
.writing-good {
  padding: 2vh 2.5vw;
  font-size: 1.8vh;
  background-color: rgba(143, 211, 254, 0.3);
  border: 1px solid rgb(143, 211, 254);
  display: flex;
  flex-direction: column;
  row-gap: 4px;
}

form > span {
  font-size: 1.3rem;
}

form > input {
  padding: 1vh 1vw;
  border: 1px solid #000;
  border-radius: 1rem;
  margin-bottom: 5px;
}

form > button {
  font-size: 1.2rem;
  font-weight: 500;
  width: 3vw;
  padding: 0.8vh 0.5vw;
  border-radius: 0.6rem;
}

form > textarea {
  padding: 1vh 1vw;
  border: 1px solid #000;
  border-radius: 1rem;
  margin-bottom: 5px;
}

form > select {
  padding: 1vh 1vw;
  border: 1px solid #000;
  border-radius: 1rem;
  margin-bottom: 5px;
}

form .final-gre-submit-btn {
  margin-top: 8px;
  width: 4vw;
  background-color: rgb(143, 211, 254);

  transition: box-shadow 300ms;
}

form-box .final-gre-submit-btn:hover {
  box-shadow: 1.2px 1.2px 0 black;
}

.form-box-last {
  margin-bottom: 2vh;
}

/* Form area right section  */
.summary-bx {
  height: 60%;
  width: 90%;
  background: rgba(143, 211, 254, 0.3);
}

/* -> Media queries  */

@media (max-width: 1500px) {
  .form-box > button {
    font-size: 1rem;
  }
}

@media (max-width: 1100px) {
  .form-box > button {
    font-size: 0.8rem;
  }
}

/* -> others  */
.grayed {
  background-color: #555;
  pointer-events: none;
}