/* student_style.css */
/* Reset styles */
body,
div,
h1,
h2,
p {
  margin: 0;
  padding: 0;
  border: 0;
}

:root {
  --header-height: 5vh;
  --sidebar-width: 10vw;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%; /* 1rem = 10px  */
}

body {
  font-family: "Poppins", sans-serif;
  padding-top: calc(var(--header-height));
}

/* -----> Header section  */
.header {
  background-image: linear-gradient(135deg, #ffd700, #ffff00);
  height: var(--header-height);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #333;
}

.logo-ctn {
  display: flex;
  align-items: center;
}

.logo-ctn > span {
  font-size: 3vh;
  font-weight: 600;
}

.header .search-bar-ctn {
  width: 65%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.search-bar-ctn > input {
  width: 70%;
  height: 100%;
  border-radius: 10px;
}

.search-bar-ctn > i {
  position: absolute;
  left: 27.8%;
}

.search-bar-ctn > input::placeholder {
  text-indent: 2vw;
  font-size: 1.6vh;
}

.icon-main-ctn {
  display: flex;
  column-gap: 1vw;
  cursor: pointer;
}

/* Main work area  */
.work-area {
  width: 60%;
  margin: 0 auto;
  height: calc(100vh - var(--header-height));
  border-left: 1px solid #333;
  border-right: 1px solid #333;
  /* padding: 1vh; */
}

.work-area > .top-header {
  height: 15%;
  width: 100%;
  border-bottom: 1px solid #333;
  display: flex;
  flex-direction: column;
  border-radius: 0.6rem;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.top-top-header,
.top-pop-header {
  height: 50%;
  width: 100%;
}

.top-top-header {
  display: flex;
  justify-content: space-between;
}

.top-top-header > h1 {
  font-size: 3vh;
  font-weight: 500;
  margin-top: 2vh;
  margin-left: 2vw;
}

.top-top-header > a > button {
  padding: 5px 5px;
  margin-top: 2vh;
  margin-right: 2vw;
  background-color: rgb(143, 211, 254);
  font-size: 2.4vh;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 300ms;
}

.top-top-header > a > button:hover {
  box-shadow: 2px 2px 0 black;
}

.top-pop-header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.top-pop-header > .btn-ctn {
  margin-right: 2vw;
}

.top-pop-header > .btn-ctn > .pop-btn {
  font-size: 2vh;
  width: 5vw;
}

.top-pop-header > .btn-ctn > button {
  width: 3vw;
  cursor: pointer;
}

/* Others  */
.hidden {
  pointer-events: none;
  display: none !important;
  opacity: 0;
}

/* Drop down menu section  */
.drop-down-wrapper {
  position: absolute;
  background-color: rgba(52, 152, 219, 0.3);
  border: 2px solid rgba(52, 152, 219);
  width: 15vw;
  height: 15vh;
  top: 7%;
  right: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.8rem;
  z-index: 1000;
}

.drop-down {
  width: 90%;
  height: 90%;
  display: flex;
  flex-direction: column;
}

.drop-down-name {
  font-size: 3vh;
  margin-bottom: 0.5vh;
}

.drop-down-email {
  margin: 0.5vh 0;
  font-size: 1.6vh;
}

.drop-down-btn-ctn {
  display: flex;
  margin: 2vh 0;
  column-gap: 1vw;
  justify-content: center;
}

.drop-down-btn-ctn > button {
  font-size: 1.6vh;
  padding: 5px 5px;
  background-color: rgb(143, 211, 254);
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 300ms;
}

.drop-down-btn-ctn > button:hover {
  box-shadow: 1px 1px 0 black;
}

/* Overlay section  */

.screen-overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  z-index: 999;
}