.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.auth-ctn {
  height: 60%;
  width: 60%;
  display: flex;
  border-radius: 1.2em;
}

.ctn-left {
  flex: 1;
  background-color: blue;
  border-radius: 1.2em 0 0 1.2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-ctn {
  display: flex;
  flex-direction: column;
  gap: 2.5vh;
}

.btn-ctn > button {
  font-size: 2.4vh;
  width: 100%;
  padding: 1em 2em;
  border-radius: 10rem;
  cursor: pointer;
  transition: box-shadow 300ms;
}

.btn-ctn > button:hover {
  box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.8);
}

.ctn-right {
  flex: 2;
  background-color: green;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 0 1.2em 1.2em 0;
  transition: all 300ms;
}

.login,
.signup {
  height: 90%;
  width: 90%;
  background-color: yellow;
  border-radius: 1.2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
}

.login h2,
.signup h2 {
  font-size: 4vh;
}

.login form,
.signup form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 0.9vh;
  width: 80%;
}

.login form {
  row-gap: 1.8vh;
}

.login > form > input,
.signup > form > input,
.name-ctn > input {
  padding: 2vh 1vw;
  border-radius: 0.6em;
  border: none;
  background-color: #555;
  font-weight: 500;
  width: 100%;
  height: 6vh;
  font-size: 2vh;
}

form > input:-webkit-autofill,
form > input:-webkit-autofill:focus,
.name-ctn > input:-webkit-autofill:focus,
.name-ctn > input:-webkit-autofill {
  -webkit-text-fill-color: black;
  -webkit-box-shadow: 0 0 0 2em #555 inset;
}

form > input:-webkit-autofill:focus,
.name-ctn > input:-webkit-autofill:focus {
  border: 2px solid black;
}

.login form > input::placeholder,
.signup form > input::placeholder,
.name-ctn > input::placeholder {
  font-size: 2vh;
  font-weight: 500;
}

.login form > input::placeholder,
.signup form > input::placeholder,
.name-ctn > input::placeholder {
  font-size: 2vh;
  font-weight: 500;
}

.login form > button,
.signup form > button {
  width: 30%;
  padding: 1.5vh 2vw;
  font-size: 2vh;
  font-weight: 500;
  border-radius: 0.6em;
  border: none;
}

.name-ctn,
.checkboxes {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.7vw;
}

.checkboxes {
  flex-direction: column;
  align-items: flex-start;
  font-size: 2vh;
  letter-spacing: -0.75px;
  margin-top: 1vh;
  row-gap: 0.8vh;
}

.login-ctn {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 2vw;
  font-size: 1.8vh;
}

.login-ctn span {
  margin-left: 0.5em;
}

.login-ctn a {
  margin-right: 1.8vh;
}

.hidden {
  display: none;
  pointer-events: none;
}

/* OTP  */

.otp-ctn {
  height: 80%;
  width: 80%;
  background-color: yellow;
  border-radius: 0.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 4vh;
}

.otp-ctn .otp-title {
  font-size: 4vh;
  font-weight: 600;
}

.otp-ctn form {
  margin-top: 2vh;
}

.otp-ctn form > input {
  display: inline-block;
  height: 5vh;
  width: 5vh;
  margin-right: 1.2vw;
}

.otp-ctn > button {
  width: 30%;
  padding: 1.5vh 2vw;
  font-size: 2.4vh;
  font-weight: 500;
  border-radius: 0.6em;
  border: none;
}

.otp-ctn form > .otp {
  font-size: 2vh;
  text-align: center;
}
